In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import psycopg2
from  psycopg2.extensions import connection as DB_CON
%matplotlib inline

## Get the connection of db of postgres database

In [2]:
def get_dbCon():
        try:
            conn=psycopg2.connect(host='localhost',port=5432,database="postgres",user='postgres',password="RamP")
            return conn
        except Exception as e:
            print('Db connection occurred-',e)

In [3]:
def select_res(table_name,conn:DB_CON):
    query="SELECT count(*) FROM "+table_name+" "
    cur=conn.cursor()
    cur.execute(query)
    query_results=cur.fetchall()
    print(query_results)
    conn.close()

In [4]:
# Check db connection with sample table
select_res('country_info_all',get_dbCon())

[(1,)]

In [161]:
## Load the COVID19_open_line_list_file_cleaned and covid_19_data_cleaned

In [162]:
dfo=pd.read_csv('save_data/COVID19_open_line_list_file_cleaned.csv')
dfo.head()

,ID,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,date_confirmation,source,admin2,admin1,country_new,admin_id
0,1.0,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,22.01.2020,http://ah.people.com.cn/GB/n2/2020/0127/c35826...,Hefei City,Anhui,China,340181
1,2.0,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,23.01.2020,http://ah.people.com.cn/GB/n2/2020/0127/c35826...,Hefei City,Anhui,China,340111
2,3.0,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,23.01.2020,http://ah.people.com.cn/GB/n2/2020/0127/c35826...,Hefei City,Anhui,China,340104
3,4.0,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,23.01.2020,http://ah.people.com.cn/GB/n2/2020/0127/c35826...,Hefei City,Anhui,China,340104
4,5.0,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,23.01.2020,http://ah.people.com.cn/GB/n2/2020/0127/c35826...,Hefei City,Anhui,China,340122

In [163]:
dfd=pd.read_csv('save_data/covid_19_data_cleaned.csv')
dfd.head()

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [164]:
dfo.rename(columns={'wuhan(0)_not_wuhan(1)':'wuhan_0_not_wuhan_1'},inplace=True)
dfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13164 entries, 0 to 13163
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   13164 non-null  float64
 1   city                 10194 non-null  object
 2   province             12904 non-null  object
 3   country              13139 non-null  object
 4   wuhan_0_not_wuhan_1  13161 non-null  float64
 5   latitude             13140 non-null  float64
 6   longitude            13140 non-null  float64
 7   geo_resolution       13140 non-null  object
 8   date_confirmation    13087 non-null  object
 9   source               12947 non-null  object
 10  admin2               9068 non-null   object
 11  admin1               12877 non-null  object
 12  country_new          13072 non-null  object
 13  admin_id             13096 non-null  object
dtypes: float64(4), object(10)
memory usage: 1.4+ MB

# Create table function

In [165]:
def create_table(table_name:str,column_detail_nameList:list,conn:psycopg2.extensions.connection):
    try:
        cursor=conn.cursor()
        create_table_query= "CREATE TABLE "+table_name+" (";
        cnt=0
        for col_detail in column_detail_nameList:
            if cnt==0:
                create_table_query+= " "+ col_detail
                cnt=1
            else:
                create_table_query+= " ,"+ col_detail
        create_table_query+=" );"
        cursor.execute(create_table_query)
        conn.commit()
        print(table_name,"-Table created successfully in PostgreSQL ")

    except (Exception, psycopg2.DatabaseError) as error :
            print ("Error while creating PostgreSQL table", error)
    finally:
            #closing database connection.
        if(conn):
            cursor.close()
            conn.close()
            print("PostgreSQL connection is closed")

## Create a table COVID19_WUHAN_RELATION from COVID19_open_line_list_file_cleaned

In [188]:
#COVID19_open_line_list_file_cleaned
table_name='covid19_wuhan_relation'
column_name=['ID numeric PRIMARY KEY','city VARCHAR (100)','province VARCHAR (100)','country VARCHAR (100)',
            'wuhan_0_not_wuhan_1 numeric','latitude numeric','longitude numeric','geo_resolution TEXT',
            'date_confirmation VARCHAR(50)','source  TEXT','admin2 TEXT','admin1 TEXT',
            'country_new VARCHAR(100)','admin_id VARCHAR(300)']

create_table(table_name,column_name,get_dbCon())

covid19_wuhan_relation -Table created successfully in PostgreSQL
PostgreSQL connection is closed

## Create a table COVID19_TBL from covid_19_data_cleaned

In [167]:
dfd.head()

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [168]:
dfd.rename(columns={'Country/Region':'Country'},inplace=True)
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14171 entries, 0 to 14170
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              14171 non-null  int64
 1   ObservationDate  14171 non-null  object
 2   Country          14171 non-null  object
 3   Last Update      14171 non-null  object
 4   Confirmed        14171 non-null  float64
 5   Deaths           14171 non-null  float64
 6   Recovered        14171 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 775.1+ KB

In [169]:
#COVID19_open_line_list_file_cleaned
table_name='covid19_tbl'
column_name=['SNo numeric PRIMARY KEY','ObservationDate  DATE','Country_Region VARCHAR (100)','Last_Update  TIMESTAMP',
            'Confirmed numeric','Deaths numeric','Recovered numeric']

create_table(table_name,column_name,get_dbCon())

covid19_tbl -Table created successfully in PostgreSQL
PostgreSQL connection is closed

## Insertion of data from dfo dataframe

### Insert into COVID19_TBL table

In [170]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14171 entries, 0 to 14170
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              14171 non-null  int64
 1   ObservationDate  14171 non-null  object
 2   Country          14171 non-null  object
 3   Last Update      14171 non-null  object
 4   Confirmed        14171 non-null  float64
 5   Deaths           14171 non-null  float64
 6   Recovered        14171 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 775.1+ KB

In [173]:
db_cols=['sno','observationdate','country_region','last_update',
            'confirmed','deaths','recovered']

In [179]:
from sqlalchemy import create_engine
def insert_csv_table(df:pd.DataFrame,table_name:str,db_cols:list):
    try:
        engine = create_engine('postgresql://postgres:RamP@localhost:5432/postgres')
        
        (df.rename(columns=dict(zip(df.columns,db_cols)))
             .to_sql(name=table_name,con=engine,if_exists="append",index=False,index_label=None,schema='public'))
        print('Data insert succecssfull into the ',table_name )
    except (Exception, psycopg2.DatabaseError) as error :
            print ("Error while inserting PostgreSQL table", error)
    finally:
            #closing database connection.
            print("PostgreSQL connection is closed")

In [175]:
table_name='covid19_tbl'

insert_csv_table(dfd,table_name,db_cols)

Data insert succecssfull into the  covid19_tbl
PostgreSQL connection is closed

In [176]:
# check the data
select_res('covid19_tbl',get_dbCon())

[(14171,)]

In [182]:
dfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13164 entries, 0 to 13163
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   13164 non-null  float64
 1   city                 10194 non-null  object
 2   province             12904 non-null  object
 3   country              13139 non-null  object
 4   wuhan_0_not_wuhan_1  13161 non-null  float64
 5   latitude             13140 non-null  float64
 6   longitude            13140 non-null  float64
 7   geo_resolution       13140 non-null  object
 8   date_confirmation    13087 non-null  object
 9   source               12947 non-null  object
 10  admin2               9068 non-null   object
 11  admin1               12877 non-null  object
 12  country_new          13072 non-null  object
 13  admin_id             13096 non-null  object
dtypes: float64(4), object(10)
memory usage: 1.4+ MB

In [183]:
db_column=['id','city','province','country',
            'wuhan_0_not_wuhan_1','latitude','longitude','geo_resolution',
            'date_confirmation','source','admin2','admin1',
            'country_new','admin_id']

In [ ]:
table_name='covid19_wuhan_relation'

insert_csv_table(dfo,table_name,db_column)

In [193]:
# check the data
select_res(table_name,get_dbCon())

[(13164,)]

## 2)Create a table to store data country wise

### 2.1)Creat a table which has list of each country death ,confirmed,recovered with relationship country_wuhan_visit_tbl

In [204]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14171 entries, 0 to 14170
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              14171 non-null  int64
 1   ObservationDate  14171 non-null  object
 2   Country          14171 non-null  object
 3   Last Update      14171 non-null  object
 4   Confirmed        14171 non-null  float64
 5   Deaths           14171 non-null  float64
 6   Recovered        14171 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 775.1+ KB

In [207]:
df_country=dfd.groupby(['Country'],as_index=False)[['Confirmed','Deaths','Recovered']].agg('sum').fillna(0)
df_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220 entries, 0 to 219
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    220 non-null    object
 1   Confirmed  220 non-null    float64
 2   Deaths     220 non-null    float64
 3   Recovered  220 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.6+ KB

In [221]:
pd.set_option('display.max_rows', df_country.shape[0]+1)

In [222]:
df_country

                              Country  Confirmed    Deaths  Recovered
0                          Azerbaijan        1.0       0.0        0.0
1                     ('St. Martin',)        2.0       0.0        0.0
2                         Afghanistan     5458.0     146.0      237.0
3                             Albania     6184.0     313.0     1621.0
4                             Algeria    20118.0    2192.0     2610.0
5                             Andorra     8430.0     262.0      442.0
6                              Angola      205.0      28.0       22.0
7                 Antigua and Barbuda      234.0       9.0        0.0
8                           Argentina    23490.0     752.0     4453.0
9                             Armenia    13053.0     104.0     1135.0
10                              Aruba       19.0       0.0        0.0
11                          Australia    99020.0     626.0    13905.0
12                            Austria   220498.0    3175.0    43524.0
13                         Azerbaijan     9377.0     117.0      971.0
14                            Bahamas      442.0      53.0       40.0
15                       Bahamas, The       10.0       0.0        0.0
16                            Bahrain    16440.0      92.0     8006.0
17                         Bangladesh     2616.0     211.0      473.0
18                           Barbados      881.0      20.0       59.0
19                            Belarus    11607.0     121.0     1275.0
20                            Belgium   319318.0   23652.0    53245.0
21                             Belize       91.0       8.0        0.0
22                              Benin      322.0       6.0       42.0
23                             Bhutan      100.0       0.0       19.0
24                            Bolivia     2742.0     152.0       18.0
25             Bosnia and Herzegovina    10618.0     344.0      761.0
26                           Botswana       86.0      12.0        0.0
27                             Brazil   183380.0    8030.0     1825.0
28                             Brunei     3168.0      15.0     1034.0
29                           Bulgaria     9607.0     288.0      525.0
30                       Burkina Faso     5968.0     302.0     1279.0
31                              Burma      306.0      20.0        6.0
32                            Burundi       36.0       0.0        0.0
33                         Cabo Verde      124.0      19.0        6.0
34                           Cambodia     2524.0       0.0      733.0
35                           Cameroon     7736.0     125.0      476.0
36                             Canada   233878.0    4303.0    43561.0
37                         Cape Verde        1.0       0.0        0.0
38                     Cayman Islands        3.0       0.0        0.0
39           Central African Republic      119.0       0.0        0.0
40                               Chad      138.0       0.0       10.0
41                    Channel Islands        1.0       0.0        0.0
42                              Chile    71344.0     490.0    10175.0
43                           Colombia    25334.0     595.0     1327.0
44                Congo (Brazzaville)      542.0      41.0       29.0
45                   Congo (Kinshasa)     2466.0     224.0       86.0
46                         Costa Rica     8189.0      50.0      271.0
47                            Croatia    20066.0     199.0     2101.0
48                               Cuba     5244.0     138.0      325.0
49                            Curacao        2.0       0.0        0.0
50                             Cyprus     7293.0     148.0      576.0
51                     Czech Republic    78783.0     997.0     2126.0
52                            Denmark    86126.0    2600.0    17542.0
53                   Diamond Princess    12816.0     191.0    10980.0
54                           Djibouti     1143.0       3.0      165.0
55                           Dominica      235.0       0.0       14.0
56                 Dominican Republic    27148.0    1226.0      509.0
57                         East Timor        1.0       0.0        0.0
58                            Ecuador    64186.0    2641.0     1930.0
59                              Egypt    21792.0    1344.0     4514.0
60                        El Salvador      971.0      43.0       71.0
61                  Equatorial Guinea      312.0       0.0       24.0
62                            Eritrea      378.0       0.0        0.0
63                            Estonia    19298.0     206.0      854.0
64                           Eswatini      188.0       0.0       36.0
65                           Ethiopia      718.0      16.0       54.0
66                      Faroe Islands       10.0       0.0        0.0
67                               Fiji      181.0       0.0        0.0
68                            Finland    37057.0     418.0     3212.0
69                             France  1476092.0  122421.0   256377.0
70                      French Guiana      117.0       0.0        6.0
71                              Gabon      410.0      23.0        9.0
72                             Gambia       79.0      20.0       22.0
73                        Gambia, The        4.0       0.0        0.0
74                            Georgia     3291.0      20.0      581.0
75                            Germany  1728390.0   24491.0   464044.0
76                              Ghana     4147.0      99.0      302.0
77                          Gibraltar        7.0       0.0        1.0
78                             Greece    32907.0    1161.0     2456.0
79                          Greenland        3.0       0.0        0.0
80                            Grenada      183.0       0.0        0.0
81                         Guadeloupe      187.0       0.0        0.0
82                               Guam        6.0       0.0        0.0
83                          Guatemala     1183.0      41.0      222.0
84                           Guernsey        3.0       0.0        0.0
85                             Guinea     1583.0       0.0       70.0
86                      Guinea-Bissau      289.0       0.0        0.0
87                             Guyana      468.0      72.0       48.0
88                              Haiti      357.0      10.0        8.0
89                           Holy See      134.0       0.0        8.0
90                           Honduras     3995.0     232.0       68.0
91                          Hong Kong    19561.0     186.0     5161.0
92                            Hungary    12592.0     623.0     1097.0
93                            Iceland    27882.0      84.0     6570.0
94                              India    62890.0    1837.0     5518.0
95                          Indonesia    40621.0    3469.0     2673.0
96                               Iran  1184893.0   75219.0   453242.0
97                               Iraq    17712.0    1195.0     5446.0
98                            Ireland    85214.0    2383.0      290.0
99                             Israel   130189.0     766.0     8646.0
100                             Italy  2661341.0  297444.0   408997.0
101                       Ivory Coast     4637.0      29.0      436.0
102                           Jamaica     1006.0      50.0      117.0
103                             Japan    72012.0    1755.0    12337.0
104                            Jersey        6.0       0.0        0.0
105                            Jordan     6161.0      79.0     1369.0
106                        Kazakhstan     8873.0      80.0      602.0
107                             Kenya     2024.0      61.0      104.0
108                            Kosovo     2434.0      40.0      296.0
109                            Kuwait    11756.0       8.0     1766.0
110                        Kyrgyzstan     2866.0      29.0      251.0
111                              Laos      192.0       0.0        0.0
112                            Latvia     9214.0      17.0      153.0
113                           Lebanon    11184.0     308.0      908.0
114                           Liberia      258.0      28.0       24.0
115                             Libya      233.0      10.0       35.0
116                     Liechtenstein     1535.0       8.0      330.0
117                         Lithuania    12734.0     203.0      204.0
118                        Luxembourg    48616.0     618.0     4930.0
119                        MS Zaandam      107.0      22.0        0.0
120                             Macau     1365.0       0.0      518.0
121                        Madagascar     1150.0       0.0       55.0
122                    Mainland China  5075308.0  182255.0  3229820.0
123                            Malawi       64.0       6.0        0.0
124                          Malaysia    69684.0     930.0    17553.0
125                          Maldives      498.0       0.0      229.0
126                              Mali      708.0      60.0      105.0
127                             Malta     4623.0       8.0      122.0
128                        Martinique      172.0       6.0        0.0
129                        Mauritania      115.0      13.0       28.0
130                         Mauritius     3516.0     106.0      122.0
131                           Mayotte       21.0       0.0        0.0
132                            Mexico    32440.0    1324.0     5924.0
133                           Moldova    12945.0     223.0      482.0
134                            Monaco     1255.0      14.0       51.0
135                          Mongolia      314.0       0.0       36.0
136                        Montenegro     3049.0      32.0       25.0
137                           Morocco    15797.0    1030.0     1021.0
138                        Mozambique      200.0       0.0       10.0
139                           Namibia      265.0       0.0       48.0
140                             Nepal      181.0       0.0       60.0
141                       Netherlands   310026.0   27083.0     3763.0
142                       New Zealand    15311.0      18.0     2713.0
143                         Nicaragua       99.0      16.0        0.0
144                             Niger     2951.0     109.0      215.0
145                           Nigeria     3538.0      69.0      453.0
146                     North Ireland        1.0       0.0        0.0
147                   North Macedonia     8599.0     283.0      360.0
148                            Norway   114937.0    1126.0      421.0
149                              Oman     5598.0      23.0     1157.0
150                            Others    26228.0     189.0     5003.0
151                          Pakistan    55046.0     703.0     4280.0
152                         Palestine       86.0       0.0        0.0
153                            Panama    29323.0     690.0      173.0
154                  Papua New Guinea       29.0       0.0        0.0
155                          Paraguay     1717.0      73.0      134.0
156                              Peru    43919.0    1260.0    12266.0
157                       Philippines    49830.0    2525.0     1334.0
158                            Poland    65188.0    1515.0     2079.0
159                          Portugal   178620.0    4345.0     1901.0
160                       Puerto Rico        3.0       0.0        0.0
161                             Qatar    29796.0      54.0     2108.0
162               Republic of Ireland       21.0       0.0        0.0
163             Republic of the Congo        1.0       0.0        0.0
164                           Reunion      137.0       0.0        0.0
165                           Romania    60494.0    2353.0     6516.0
166                            Russia    91012.0     674.0     6017.0
167                            Rwanda     1708.0       0.0       54.0
168                  Saint Barthelemy       17.0       0.0        0.0
169             Saint Kitts and Nevis      137.0       0.0        0.0
170                       Saint Lucia      219.0       0.0       16.0
171  Saint Vincent and the Grenadines       97.0       0.0       15.0
172                        San Marino     6572.0     671.0      478.0
173             Sao Tome and Principe       24.0       0.0        0.0
174                      Saudi Arabia    41794.0     427.0     6313.0
175                           Senegal     3977.0      19.0     1227.0
176                            Serbia    29769.0     659.0       41.0
177                        Seychelles      227.0       0.0        0.0
178                      Sierra Leone       59.0       0.0        0.0
179                         Singapore    29581.0      88.0     8556.0
180                          Slovakia     9613.0      21.0      190.0
181                          Slovenia    19898.0     429.0     1118.0
182                           Somalia      141.0       4.0       12.0
183                      South Africa    29005.0     161.0     1774.0
184                       South Korea   369688.0    4751.0   126132.0
185                       South Sudan       17.0       0.0        0.0
186                             Spain  2237087.0  200396.0   554074.0
187                         Sri Lanka     3433.0      66.0      530.0
188                        St. Martin        2.0       0.0        0.0
189                             Sudan      191.0      43.0       23.0
190                          Suriname      198.0       9.0       15.0
191                            Sweden   126132.0    6929.0     2621.0
192                       Switzerland   393842.0   11029.0    94083.0
193                             Syria      249.0      27.0       26.0
194                            Taiwan     8554.0     120.0     1406.0
195                          Tanzania      427.0      16.0       45.0
196                          Thailand    38627.0     344.0    11057.0
197                       The Bahamas        3.0       0.0        0.0
198                        The Gambia        1.0       0.0        0.0
199                       Timor-Leste       23.0       0.0        2.0
200                              Togo      896.0      36.0      243.0
201               Trinidad and Tobago     1895.0      93.0       28.0
202                           Tunisia     8822.0     295.0      192.0
203                            Turkey   408544.0    8310.0    16018.0
204                                UK   749419.0   72805.0     5690.0
205                                US  5142401.0  147726.0   229107.0
206                            Uganda      764.0       0.0        4.0
207                           Ukraine    19415.0     561.0      423.0
208              United Arab Emirates    29381.0     162.0     3302.0
209                           Uruguay     7237.0      64.0     1414.0
210                        Uzbekistan     5778.0      36.0      360.0
211                      Vatican City        4.0       0.0        0.0
212                         Venezuela     3066.0      90.0      958.0
213                           Vietnam     5614.0       0.0     1981.0
214                West Bank and Gaza     3136.0      19.0      465.0
215                    Western Sahara       28.0       0.0        0.0
216                             Yemen        2.0       0.0        0.0
217                            Zambia      622.0      12.0      103.0
218                          Zimbabwe      167.0      29.0        0.0
219    occupied Palestinian territory       25.0       0.0        0.0

In [208]:
#country_wuhan_visit_tbl
table_name='country_covid19_stat_tbl'
column_name=['country VARCHAR(50) PRIMARY KEY','total_confirmed numeric','total_death numeric','total_recovered numeric']

create_table(table_name,column_name,get_dbCon())

country_covid19_stat_tbl -Table created successfully in PostgreSQL
PostgreSQL connection is closed

In [209]:
db_column=['country','total_confirmed','total_death','total_recovered']
insert_csv_table(df_country,table_name,db_column)

Data insert succecssfull into the  country_covid19_stat_tbl
PostgreSQL connection is closed

In [210]:
select_res(table_name,get_dbCon())

[(220,)]

### 2.2)Create a table which states number of people visited wuhan

1)Count the number of wuhan people based on each country
2)Create a table with country and number of wuhan_travelled persons

In [235]:
df_wuhan=dfo.groupby(['country'],as_index=False)['wuhan_0_not_wuhan_1'].agg('sum').fillna(0)
df_wuhan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              51 non-null     object
 1   wuhan_0_not_wuhan_1  51 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [236]:
df_wuhan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              51 non-null     object
 1   wuhan_0_not_wuhan_1  51 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [237]:
## We will drop the china row because it is obvious that chiana has wuhan visit person
df_wuhan=df_wuhan.drop(df_wuhan[df_wuhan['country']=='China'].index)

In [246]:
## REPLACE United States with US
df_wuhan.loc[df_wuhan['country']=='United States',['country']]='US'

In [ ]:
## REPLACE United Kingdom) with UK
df_wuhan.loc[df_wuhan['country']=='United Kingdom',['country']]='UK'

In [238]:
df_wuhan.head()

       country  wuhan_0_not_wuhan_1
0  Afghanistan                  1.0
1      Algeria                  1.0
2    Australia                 15.0
3      Austria                  2.0
4      Bahrain                 20.0

In [239]:
#country_wuhan_visit_tbl
table_name='country_wuhan_visit_tbl'
column_name=['country VARCHAR(50) PRIMARY KEY','total_wuhan_visited numeric',
             'FOREIGN KEY (country) REFERENCES country_covid19_stat_tbl (country)']

create_table(table_name,column_name,get_dbCon())

Error while creating PostgreSQL table relation "country_wuhan_visit_tbl" already exists

PostgreSQL connection is closed

In [247]:
db_column=['country','total_wuhan_visited']
insert_csv_table(df_wuhan,table_name,db_column)

Data insert succecssfull into the  country_wuhan_visit_tbl
PostgreSQL connection is closed

In [248]:
select_res(table_name,get_dbCon())

[(50,)]