In [3]:
from pymongo import MongoClient
import psycopg2

## COnnect mongodb
## Run this start mongodb from cmd

brew services start mongodb-community@4.2
ps aux | grep -v grep | grep mongod
Mogno

In [2]:
client=MongoClient('localhost',27017)

In [3]:
## check db list in mongodb
client.list_database_names()

['admin', 'config', 'db', 'local', 'posts', 'twitter']

In [4]:
## check all the collection from db
my_db=client['posts']
my_db.list_collection_names()

['Author_details']

In [5]:
my_col=my_db['Author_details']

## Connection with postgres

## start pgadmin from app
## get the connection

In [6]:
conn=psycopg2.connect(host="localhost",port=5432,database="postgres", user="postgres", password="RamP")

In [7]:
cur=conn.cursor()
cur.execute("""SELECT * from bad_posts""")

In [8]:
query_results=cur.fetchall()
print(query_results)

[]

In [9]:
cur.close()
conn.close()

## load the json

In [10]:
import os
os.listdir('data')

['trendig_sample', 'corona-19', '.DS_Store', 'creditcard.csv']

In [11]:
import json

In [12]:
with open('data/trendig_sample') as f:
    data=json.load(f)

In [13]:
print(data)
print(type(data))

[{'country': 'Sweden', 'countryCode': 'SE', 'name': 'Sweden', 'parentid': 1, 'placeType': {'code': 12, 'name': 'Country'}, 'url': 'http://where.yahooapis.com/v1/place/23424954', 'woeid': 23424954}, {'country': 'United States', 'countryCode': 'US', 'name': 'New Haven', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2458410', 'woeid': 2458410}, {'country': 'Japan', 'countryCode': 'JP', 'name': 'Sapporo', 'parentid': 23424856, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/1118108', 'woeid': 1118108}, {'country': 'United States', 'countryCode': 'US', 'name': 'Providence', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2477058', 'woeid': 2477058}, {'country': 'United States', 'countryCode': 'US', 'name': 'Cincinnati', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2380358', 'woeid': 2380358}]
<class 'list'>

## Insert into mongodb

In [14]:
## create new database -twitter
## create new collection-country_info
twitter_db=client['twitter']
country_info_col=twitter_db['country_info']

In [15]:
## insert many into country_info_col
country_info_col.insert_many(data)

In [16]:
for x in country_info_col.find():
    print(x)
    print('\n')

{'_id': ObjectId('5e7dc29497a4d01db8799bf3'), 'country': 'Sweden', 'countryCode': 'SE', 'name': 'Sweden', 'parentid': 1, 'placeType': {'code': 12, 'name': 'Country'}, 'url': 'http://where.yahooapis.com/v1/place/23424954', 'woeid': 23424954}


{'_id': ObjectId('5e7dc29497a4d01db8799bf4'), 'country': 'United States', 'countryCode': 'US', 'name': 'New Haven', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2458410', 'woeid': 2458410}


{'_id': ObjectId('5e7dc29497a4d01db8799bf5'), 'country': 'Japan', 'countryCode': 'JP', 'name': 'Sapporo', 'parentid': 23424856, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/1118108', 'woeid': 1118108}


{'_id': ObjectId('5e7dc29497a4d01db8799bf6'), 'country': 'United States', 'countryCode': 'US', 'name': 'Providence', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2477058', 'woeid': 2477058}


{'_id': ObjectId('5e7dc29497a4d01db8799bf7'), 'country': 'United States', 'countryCode': 'US', 'name': 'Cincinnati', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2380358', 'woeid': 2380358}


{'_id': ObjectId('5e7dd5c610b68cbfa41a2bf9'), 'country': 'Sweden', 'countryCode': 'SE', 'name': 'Sweden', 'parentid': 1, 'placeType': {'code': 12, 'name': 'Country'}, 'url': 'http://where.yahooapis.com/v1/place/23424954', 'woeid': 23424954}


{'_id': ObjectId('5e7dd5c610b68cbfa41a2bfa'), 'country': 'United States', 'countryCode': 'US', 'name': 'New Haven', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2458410', 'woeid': 2458410}


{'_id': ObjectId('5e7dd5c610b68cbfa41a2bfb'), 'country': 'Japan', 'countryCode': 'JP', 'name': 'Sapporo', 'parentid': 23424856, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/1118108', 'woeid': 1118108}


{'_id': ObjectId('5e7dd5c610b68cbfa41a2bfc'), 'country': 'United States', 'countryCode': 'US', 'name': 'Providence', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2477058', 'woeid': 2477058}


{'_id': ObjectId('5e7dd5c610b68cbfa41a2bfd'), 'country': 'United States', 'countryCode': 'US', 'name': 'Cincinnati', 'parentid': 23424977, 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/2380358', 'woeid': 2380358}

## Create table into postgre

In [57]:
import psycopg2
from psycopg2 import Error

try:
   conn=psycopg2.connect(host="localhost",port=5432,
                         database="postgres", 
                         user="postgres", password="RamP")

   cursor = conn.cursor()
    
   create_table_query = '''CREATE TABLE country_info_all(
       _id TEXT PRIMARY KEY,
       country VARCHAR (50) UNIQUE ,
       countryCode VARCHAR (1000) ,
       name VARCHAR (355) ,
       placeType TEXT ,
       url TEXT,
       woeid VARCHAR(300)
    ); '''
   cursor.execute(create_table_query)
   conn.commit()
   print("Table created successfully in PostgreSQL ")

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)
finally:
    #closing database connection.
        if(conn):
            cursor.close()
            conn.close()
            print("PostgreSQL connection is closed")

Table created successfully in PostgreSQL
PostgreSQL connection is closed

## Insert into table

In [53]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x)


print(list(zipped))
b=tuple(x)
a=[]
a.append(b)
a

[(1,), (2,), (3,)]

[(1, 2, 3)]

In [56]:
print(country_list)

[(ObjectId('5e7dc29497a4d01db8799bf3'), 'Sweden', 'SE', 'Sweden', 1, {'code': 12, 'name': 'Country'}, 'http://where.yahooapis.com/v1/place/23424954', 23424954), (ObjectId('5e7dc29497a4d01db8799bf4'), 'United States', 'US', 'New Haven', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2458410', 2458410), (ObjectId('5e7dc29497a4d01db8799bf5'), 'Japan', 'JP', 'Sapporo', 23424856, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/1118108', 1118108), (ObjectId('5e7dc29497a4d01db8799bf6'), 'United States', 'US', 'Providence', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2477058', 2477058), (ObjectId('5e7dc29497a4d01db8799bf7'), 'United States', 'US', 'Cincinnati', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2380358', 2380358), (ObjectId('5e7dd5c610b68cbfa41a2bf9'), 'Sweden', 'SE', 'Sweden', 1, {'code': 12, 'name': 'Country'}, 'http://where.yahooapis.com/v1/place/23424954', 23424954), (ObjectId('5e7dd5c610b68cbfa41a2bfa'), 'United States', 'US', 'New Haven', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2458410', 2458410), (ObjectId('5e7dd5c610b68cbfa41a2bfb'), 'Japan', 'JP', 'Sapporo', 23424856, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/1118108', 1118108), (ObjectId('5e7dd5c610b68cbfa41a2bfc'), 'United States', 'US', 'Providence', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2477058', 2477058), (ObjectId('5e7dd5c610b68cbfa41a2bfd'), 'United States', 'US', 'Cincinnati', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2380358', 2380358)]

In [75]:
#cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX,
 #  INCOME) VALUES ('Ramya', 'Rama priya', 27, 'F', 9000)''')
sql ="''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES "
for tup in country_list:
    print(sql+str(tup)+"'''")

''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dc29497a4d01db8799bf3'), 'Sweden', 'SE', 'Sweden', 1, {'code': 12, 'name': 'Country'}, 'http://where.yahooapis.com/v1/place/23424954', 23424954)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dc29497a4d01db8799bf4'), 'United States', 'US', 'New Haven', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2458410', 2458410)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dc29497a4d01db8799bf5'), 'Japan', 'JP', 'Sapporo', 23424856, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/1118108', 1118108)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dc29497a4d01db8799bf6'), 'United States', 'US', 'Providence', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2477058', 2477058)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dc29497a4d01db8799bf7'), 'United States', 'US', 'Cincinnati', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2380358', 2380358)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dd5c610b68cbfa41a2bf9'), 'Sweden', 'SE', 'Sweden', 1, {'code': 12, 'name': 'Country'}, 'http://where.yahooapis.com/v1/place/23424954', 23424954)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dd5c610b68cbfa41a2bfa'), 'United States', 'US', 'New Haven', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2458410', 2458410)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dd5c610b68cbfa41a2bfb'), 'Japan', 'JP', 'Sapporo', 23424856, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/1118108', 1118108)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dd5c610b68cbfa41a2bfc'), 'United States', 'US', 'Providence', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2477058', 2477058)'''
''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES (ObjectId('5e7dd5c610b68cbfa41a2bfd'), 'United States', 'US', 'Cincinnati', 23424977, {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2380358', 2380358)'''

In [126]:
def insert_country_list(country_list):
    """ insert multiple vendors into the vendors table  """
    sql ="''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES "
    conn = None
    try:
        print('sg')
        # read database configuration
        # connect to the PostgreSQL database
        conn=psycopg2.connect(host="localhost",port=5432,
                         database="postgres", 
                         user="postgres", password="RamP")

        # create a new cursor
        cur = conn.cursor()
        # execute the INSERT statement
       # for row in country_list:
           # query=sql+str(row)+"'''"
        cur.execute(''' INSERT INTO country_info_all ( _id,country,countryCode,name,placeType,url,woeid)  VALUES ("1", 'Sweden', 'SE', 'Sweden', '1', "fge", 'aegag', '23424954')''')
        # commit the changes to the database
        conn.commit()
        # close communication with the database
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [142]:
def insert_country_list_1(country_list):
    """ insert multiple vendors into the vendors table  """
    sql ="''' INSERT INTO country_info_all(_id,country,countryCode,name,placeType,url,woeid)  VALUES "
    conn = None
    try:
        print('sg')
        # read database configuration
        # connect to the PostgreSQL database
        conn=psycopg2.connect(host="localhost",port=5432,
                         database="postgres", 
                         user="postgres", password="RamP")

        # create a new cursor
        cur = conn.cursor()
        # execute the INSERT statement
       # for row in country_list:
           # query=sql+str(row)+"'''"
        postgres_insert_query = """  INSERT INTO country_info_all ( _id,country,countryCode,name, placeType,url,woeid) VALUES (%s,%s,%s,%s,%s,%s,%s)"""
        record_to_insert = ("1", 'Sweden', 'SE', 'Sweden', '1', "fge", '23424954')
        cur.execute(postgres_insert_query,record_to_insert)
       # cur.execute(''' INSERT INTO country_info_all ( _id,country,countryCode,name,
      #  placeType,url,woeid)  VALUES ("ObjectId(5e7dc29497a4d01db8799bf3')", 'Sweden', 'SE', 'Sweden', '1', "{'code': 12, 'name': 'Country'}", 'http://where.yahooapis.com/v1/place/23424954', '23424954')''')
        # commit the changes to the database
        conn.commit()
        # close communication with the database
        cur.close()
        print('Insertion done')
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [143]:
if __name__ == '__main__':
    # insert one vendor
   # insert_vendor("3M Co.")
    # insert multiple vendors
    # Create the list of tuples for inserting
    country_list=[]
    for info in country_info_col.find():
        value_info=[]
        for x,y in info.items():
            value_info.append(y)
        b=tuple(value_info)
        country_list.append(b)
    insert_country_list_1(country_list)

sg
Insertion done

In [144]:
def select_country_list_1(country_list):
    """ insert multiple vendors into the vendors table  """
    conn = None
    try:
        print('sg')
        # read database configuration
        # connect to the PostgreSQL database
        conn=psycopg2.connect(host="localhost",port=5432,
                         database="postgres", 
                         user="postgres", password="RamP")

        # create a new cursor
        cur = conn.cursor()
        # execute the INSERT statement
       # for row in country_list:
           # query=sql+str(row)+"'''"
        cur.execute(" SELECT * from country_info_all")
        result=cur.fetchall()
        print(result)
       # cur.execute(''' INSERT INTO country_info_all ( _id,country,countryCode,name,
      #  placeType,url,woeid)  VALUES ("ObjectId(5e7dc29497a4d01db8799bf3')", 'Sweden', 'SE', 'Sweden', '1', "{'code': 12, 'name': 'Country'}", 'http://where.yahooapis.com/v1/place/23424954', '23424954')''')
        # commit the changes to the database
        conn.commit()
        # close communication with the database
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [145]:
if __name__ == '__main__':
    # insert one vendor
   # insert_vendor("3M Co.")
    # insert multiple vendors
    # Create the list of tuples for inserting
    country_list=[]
    for info in country_info_col.find():
        value_info=[]
        for x,y in info.items():
            value_info.append(y)
        b=tuple(value_info)
        country_list.append(b)
    select_country_list_1(country_list)

sg
[('1', 'Sweden', 'SE', 'Sweden', '1', 'fge', '23424954')]

In [135]:
  '''insert_country_list([
        ('AKM Semiconductor Inc.',),
        ('Asahi Glass Co Ltd.',),
        ('Daikin Industries Ltd.',),
        ('Dynacast International Inc.',),
        ('Foster Electric Co. Ltd.',),
        ('Murata Manufacturing Co. Ltd.',)
    ])'''

"insert_country_list([\n      ('AKM Semiconductor Inc.',),\n      ('Asahi Glass Co Ltd.',),\n      ('Daikin Industries Ltd.',),\n      ('Dynacast International Inc.',),\n      ('Foster Electric Co. Ltd.',),\n      ('Murata Manufacturing Co. Ltd.',)\n  ])"